@model IEnumerable<SystemBeauty.ViewModels.ProdutoVM>

<h2>Todos os Produtos</h2>
<hr />
<div class="row">
    @foreach (var produto in Model)
    {
        <partial name="_ResumoProduto" for="@produto" />
    }
</div>

@*INDEX DE PRODUTOS*@