@model IEnumerable<SystemBeauty.ViewModels.ProdutoVM>

<h4>@Model.Count() produto(s) encontrado(s).</h4>
<hr />
<div class="row">
    @foreach (var produto in Model)
    {
        <partial name="_ResumoProduto" for="@produto" />
    }
</div>

@*INDEX DE PRODUTOS*@