

<div class="container">
    <div class="row justify-content-center align-content-center">
        <h2 class="text-dark text-center"> FALE CONOSCO </h2>
        <br />
    </div>
    <div class="jumbotron">
        <span>
            <img src="~/images/Envelope-icon.png"/>
        </span>
        <h5><email endereco="rscramon95@gmail.com" mensagem="Enviar um e-mail"></email></h5>
        <br />
        <span>
            <img src="~/images/phone-app-icon.png"/>
        </span>
        <h5>(24) 9999-9999</h5>
        <br />
        <span>
            <img src="~/images/Home-icon.png"/>
        </span>
        <h5>Av. Monteiro Lobato 2000 - 27510-000 - Resende</h5>
    </div>
</div>