@model IEnumerable<SystemBeauty.ViewModels.ProdutoVM>


<partial name="_CarouselProdutos" />


<h2>Mais vendidos</h2>

<div class="row">
    @foreach (var produto in Model)
    {
        <partial name="_ResumoProduto" for="@produto" />
    }
</div>

@*INDEX HOME*@