@model IEnumerable<SystemBeauty.ViewModels.ProdutoVM>

<div id="carouselprodutos" class="carousel slide marginTop1" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselprodutos" data-slide-to="0" class="active"></li>
        <li data-target="#carouselprodutos" data-slide-to="1"></li>
        <li data-target="#carouselprodutos" data-slide-to="2"></li>
        <li data-target="#carouselprodutos" data-slide-to="3"></li>
        <li data-target="#carouselprodutos" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner bg-secondary">
        <div class="carousel-item active">
            <img src="~/images/Logo.png.png" class="d-block w-50 h-50" alt="Lanche">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        @foreach (var produto in Model.Take(4))
        {
            <div class="carousel-item row justify-content-center">
                <img src="@Html.DisplayFor(model => produto.ImageURL)" class="d-block w-50 h-50" alt="Produto" />
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#carouselprodutos" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselprodutos" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>
